.analytic {
  background-image: url(../../public/img/home/Rectangle-Copy-2.png);
  width: 1439px;
  height: 722px;
  object-fit: contain;
}

.icon-an {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: 707px;
  margin-bottom: 37px;
}

.text-an {
  width: 363px;
  height: 112px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 607px;
  margin-bottom: 8px;
}

.p-an {
  width: 505px;
  height: 132px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 607px;
  margin-bottom: 30px;
}

.button-an {
  width: 155px;
  height: 48px;
  object-fit: contain;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #0f9e47;
  color: #0f9e47;
  background-color: #ffffff;
  margin-left: 707px;
  margin-bottom: 39px;
}

.p-an2 {
  width: 470px;
  height: 50px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 707px;
}

.v-an {
  width: 564px;
  height: 416.3px;
  object-fit: contain;
  border-radius: 5px;
  margin-top: -517px;
  padding-bottom: 114px;
}
