.card-text {
  width: 280px;
  height: 105px;
  object-fit: contain;
  font-family: Poppins;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 318px;
  margin-left: 23px;
}

.card-text-mer {
  width: 280px;
  height: 105px;
  object-fit: contain;
  font-family: Poppins;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 318px;
  margin-left: 23px;
}

.card-text-bir {
  width: 280px;
  height: 105px;
  object-fit: contain;
  font-family: Poppins;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 318px;
  margin-left: 23px;
  margin-top: 48px;
}

.card-start {
  width: 1136px;
  height: 280px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #f2f1f0;
  margin-left: 149px;
  margin-bottom: 85px;
  margin-top: 86px;
}

.card-body {
  padding-top: 10px;
}

.form-start {
  width: 394px;
  height: 57px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  margin-left: 286px;
}

.btn-start {
  width: 187px;
  height: 57.9px;
  object-fit: contain;
  background-color: #03aa51;
  color: white;
  margin-left: -17px;
}

.start-form {
  padding-bottom: 64px;
}

.card-kun {
  width: 67px;
  height: 75px;
  object-fit: contain;
}

.body-kun {
  width: 362px;
  height: 262px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #f1c516;
}

.title-kun {
  width: 184px;
  height: 33px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-left: 91px;
  margin-top: 70px;
}

.title-mer {
  width: 184px;
  height: 33px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 91px;
  margin-top: 70px;
}

.title-bir {
  width: 255px;
  height: 33px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 48px;
  margin-top: 40px;
}

.icon-card {
  width: 67px;
  height: 75px;
  object-fit: contain;
  position: absolute;
  margin-left: 150px;
  margin-top: -46px;
}

.icon-card2 {
  width: 67px;
  height: 75px;
  object-fit: contain;
  position: absolute;
  margin-left: 150px;
  margin-top: -46px;
}

.icon-card3 {
  width: 67px;
  height: 75px;
  object-fit: contain;
  position: absolute;
  margin-left: 150px;
  margin-top: -46px;
}

.body-mer {
  width: 362px;
  height: 262px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #eb482c;
}

.body-bir {
  width: 362px;
  height: 262px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #4e73b8;
}

.all-card {
  margin-top: -270px;
  margin-bottom: 116px;
}
