.text-mul {
  width: 246px;
  height: 56px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: -100px;
  margin-bottom: 17px;
}

.p-mul {
  width: 467px;
  height: 132px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: -100px;
  margin-bottom: 33px;
}

.button-multi {
  width: 155px;
  height: 48px;
  object-fit: contain;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #0f9e47;
  color: #0f9e47;
  background-color: #ffffff;
  margin-bottom: 33px;
}

.p-mul2 {
  width: 439px;
  height: 100px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.v-mul {
  width: 620px;
  height: 407px;
  object-fit: contain;
  border-radius: 5px;
  margin-left: 585px;
  margin-top: -507px;
  padding-bottom: 225px;
}

.icon-mul {
  width: 49.6px;
  height: 49.6px;
  object-fit: contain;
  margin-bottom: 38px;
}
