.omni {
  background-image: url(../../public/img/home/Rectangle-Copy-2.png);
  width: 1439px;
  height: 722px;
  object-fit: contain;
}

.icon-om {
  width: 44.9px;
  height: 50px;
  object-fit: contain;
  margin-left: 707px;
}

.text-om {
  width: 307px;
  height: 56px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 607px;
  margin-top: 23px;
}

.p-om {
  width: 464px;
  height: 165px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 607px;
  margin-top: 22px;
}

.button-om {
  width: 155px;
  height: 48px;
  object-fit: contain;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #0f9e47;
  color: #0f9e47;
  background-color: #ffffff;
  margin-left: 707px;
  margin-bottom: 31px;
}

.v-om {
  width: 573px;
  height: 390px;
  object-fit: contain;
  border-radius: 5px;
  margin-top: -474px;
  padding-bottom: 93px;
}

.sosmed-om {
  padding-left: 711px;
  width: 800px;
}

.mes {
  width: 33px;
  height: 33px;
  object-fit: contain;
}

.fill-4- {
  width: 32px;
  height: 26px;
  object-fit: contain;
}

.line2 {
  width: 32px;
  height: 31px;
  object-fit: contain;
}

.wa-2 {
  width: 30.7px;
  height: 30.7px;
  object-fit: contain;
}
