.page-heads {
    background-image: url(../../public/img/home/Rectangle-Copy-2.png);
    width: 1439px;
    height: 722px;
    object-fit: contain;
  }
  .img-pricing{
    margin-bottom: 125px;
    margin-left: 139px;
    width: 357px;
    height: 345px;
    margin-top: 70px;
   }
  .pricing{
    width: 1145px;
    height: 81px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 58px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1a1919;
    margin-left: 130px;
    padding-top: 140px;
  }
  .text-about {
    width: 949px;
    height: 33px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: 230px;
  }
  
  .card-about {
    width: 1136px;
    height: 280px;
    object-fit: contain;
    border-radius: 8px;
    background-image: linear-gradient(to left, #00da54, #00ad44);
    margin-left: 149px;
    margin-bottom: 85px;
    margin-top: 86px;
  }
  
  .card-h2-about {
    width: 651px;
    height: 49px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.51;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 246px;
    margin-top: 58px;
  }
  
  .form-about {
    width: 394px;
    height: 57px;
    object-fit: contain;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    margin-left: 286px;
  }
  
  .btn-about {
    width: 187px;
    height: 57.9px;
    object-fit: contain;
    background-color: #535353;
    color: white;
    margin-left: -17px;
  }
  
  .text-head {
    width: 680px;
    height: 33px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: 230px;
    margin-top: 26px;
  }
  
  .foto-1,
  .foto-2 {
    width: 221px;
    height: 145px;
    object-fit: contain;
    margin-left: 337px;
  }
  
  .nama-about {
    width: 214px;
    height: 35px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #1a1919;
    margin-left: 369px;
    margin-top: 20px;
  }
  
  .nama-about2 {
    width: 214px;
    height: 35px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #1a1919;
    margin-left: 383px;
    margin-top: 20px;
  }
  