.support {
  background-image: url(../../public/img/home/Group-5.png);
  width: 1440px;
  height: 617px;
  margin-top: 90px;
}

.text-sup {
  width: 370px;
  height: 56px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 35px;
}

.p-sup {
  width: 546px;
  height: 132px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 48px;
}

.gambar-sup {
  width: 444.4px;
  height: 382px;
  object-fit: contain;
  margin-left: 695px;
  margin-top: -468px;
}

.p-support {
  width: 172px;
  height: 35px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #1a1919;
  margin-left: 485px;
}

.gambar-support {
  width: 243px;
  height: 73px;
  object-fit: contain;
  margin-left: 380px;
  margin-top: -26px;
}

.page-support {
  margin-top: 10px;
}

.logo-c1 {
  width: 221px;
  height: 71px;
  object-fit: contain;
  margin-left: 195px;
}

.logo-c2 {
  width: 167px;
  height: 71px;
  object-fit: contain;
  margin-left: 215px;
}

.logo-c3 {
  width: 193px;
  height: 96px;
  object-fit: contain;
  margin-left: 210px;
}

.page-client {
  margin-bottom: 93px;
  margin-top: 94px;
}
