.contact-bc{
  margin-bottom: 120px;
  background-image: url(public/img/home/Group35@3x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1440px;
  height: 1161px;
}
.contact-1{
  margin-top: 89px;
  /* width: 1650px; */
  height: 128px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1a1919;
}
.contact-2{
  margin-left: 480px;
    width: 480px;
    height: 220px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: -39px;
}
.fullname{
  margin-left: 61px;
  margin-top: 25px;
  width: 174px;
  height: 29px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.pw-1{
  width: 57px;
  height: 29px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.input-fullname{
  margin-left: 61px;
  width: 394px;
  height: 37px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #0f9e47;
  background-color: #ffffff
}
.form-contact{
  margin-top: 40px;
  margin-left: 727px;
  width: 512px;
  height: 670px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.send-contact{
  height: 33px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.input-komen{
margin-left: 61px;
  width: 394px;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #0f9e47;
  background-color: #ffffff
}
.send{
  margin-top: 22px;
    margin-left: 63px;
    width: 396px;
    height: 54px;
    object-fit: contain;
    opacity: 0.85;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-image: linear-gradient(to left, #00da54, #00ad44);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.img-contact{
  margin-top:-939px;
    width: 357px;
    height: 345px;
    object-fit: contain;
    margin-left: 150px;
}
.email-info{
  margin-top: -251px;
    margin-left: 222px;
    width: 185px;
    height: 28px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
}
.email-img{
  margin-top: -448px;
  margin-left: 178px;
  width: 26.3px;
  height: 17.6px;
  object-fit: contain;
}
.fb-info{
  margin-top: -221px;
    margin-left: 222px;
    width: 185px;
    height: 28px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
}
.fb-img{
  margin-top: -388px;
    margin-left: 178px;
    width: 26.3px;
    height: 23.6px;
    object-fit: contain;
}
.tl-info{
  margin-top: -191px;
    margin-left: 222px;
    width: 185px;
    height: 28px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
}
.tl-img{
  margin-top: -327px;
    margin-left: 178px;
    width: 26.3px;
    height: 23.6px;
    object-fit: contain;
}
.ln-info{
  margin-top: -158px;
    margin-left: 222px;
    width: 185px;
    height: 28px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
}
.ln-img{
  margin-top: -261px;
  margin-left: 178px;
  width: 26.3px;
  height: 24.6px;
  object-fit: contain;
}
.card-text-contact{
  margin-top: 22px;
    text-align: center;
    /* width: 651px; */
    height: 49px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.51;
    letter-spacing: normal;
    /* text-align: left; */
    color: #ffffff;
}
.card-start-contact{
  margin-left: 120px;
  margin-bottom: 88px;
  width: 1136px;
  height: 280px;
  object-fit: contain;
  opacity: 0.85;
  border-radius: 8px;
  background-image: linear-gradient(to left, #00da54, #00ad44);
  margin-left: center;
  /* margin: auto; */
}
.btn-start-contact{
      width: 187px;
    height: 57.9px;
    object-fit: contain;
    background-color: #535353;
    color: white;
    margin-left: -17px;
    border-color:  #535353;
}